@import "_basic";
@import "_sheet";
@import "_variable";
@import "_search";
@import "article/_ad";
@import "article/_breaking";
@import "article/_player";
@import "article/_green-audio-player";
@import "article/_lazyload";
@import "article/_bottombar";
@import "_bulletin";
@import "article/_fullscreen";
@import "article/_paywall";
.breadcrumb {
    font-size: 0;
    li {
        display: inline-block;
        +li {
            &::before {
                @include beforeafter('>', inline);
                padding-left: 5px;
                padding-right: 5px;
                font-size: 0.875rem;
            }
        }
        a {
            display: inline-block;
            color: $text;
            font-size: 0.875rem;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
}

.source {
    display: block;
    padding-top: 5px;
    color: $secondary;
    font-size: 0.875rem;
}

.article__head,
.article__body,
.article__foot {
    font-weight: 300;
}

.article__body,
.article__foot,
.article__promotion {
    margin-left: auto;
    margin-right: auto;
}

.article__body,
.article__foot {
    max-width: 740px;
    width: 100%;
}

.article__promotion {
    max-width: 700px;
    width: calc(100% - 40px);
}

.preface>* {
    font-size: 1.125em;
    line-height: 1.7;
}

@import "article/_function";
@import "article/_detail";
.article__content {
    p,
    ul,
    ol {
        font-size: 1.125em;
        line-height: 1.7;
    }
    p {
        margin-top: 1.15em;
        margin-bottom: 1.15em;
    }
    h2 {
        margin-top: 40px;
    }
    a {
        min-width: auto;
        padding: 0;
        color: $surface;
        text-decoration: underline;
        border: 0;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
    }
    blockquote {
        position: relative;
        width: 300px;
        padding: 2px 0;
        margin: 40px auto;
        p {
            font-weight: 600;
            @include breakpoint(1024px) {
                font-weight: 500;
            }
        }
        &::before,
        &::after {
            position: absolute;
            left: 50%;
            width: 60px;
            height: 2px;
            margin-left: -30px;
            @include beforeafter('', block);
            background-color: $primary;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
    // 小辭典
    .more {
        position: relative;
        display: inline-block;
        padding-right: 1.15em;
        color: $primary;
        line-height: 1.5;
        border-bottom: 1px dashed $primary;
        cursor: pointer;
        &::before {
            @include beforeafter('\e94b', block);
            position: absolute;
            top: 50%;
            right: 0;
            font-family: $icomoon-font-family;
            line-height: 1;
            @include translateY(-50%);
        }
        &:hover {
            color: $primary-variant;
        }
    }
    .more__text {
        display: none;
        width: 100%;
        margin: 10px 0;
        padding: 20px 40px;
        background-color: $gray-100;
        &.active {
            display: block;
        }
    }
    .lazyload__group {
        margin-top: 40px;
        +.source {
            @include breakpoint(1024px) {
                margin-bottom: 40px;
            }
        }
    }
}

@import "article/_box";
@import "article/_next";
@import "article/_extended";
@import "article/_keyword";
article {
    &.article__level--1 {
        .article__content,
        .article__detail,
        .article__extended {
            h1,
            .h1 {
                font-size: 32px;
                @include breakpoint(1024px) {
                    font-size: 36px;
                }
            }
            h2,
            .h2 {
                font-size: 24px;
                @include breakpoint(1024px) {
                    font-size: 26px;
                }
            }
        }
        .article__detail {
            @include breakpoint(1024px) {
                padding-right: 100px;
            }
        }
        .breadcrumb {
            li {
                +li {
                    &::before {
                        font-size: 1.125rem;
                    }
                }
                a {
                    font-size: 1.125rem;
                }
            }
        }
        .source {
            font-size: 1.125rem;
        }
        .audio__player .audio__title {
            font-size: 1.375rem;
        }
        .article__detail {
            >ul {
                li {
                    >span {
                        font-size: 1.125rem;
                    }
                    >.author--item {
                        a,
                        span {
                            font-size: 1.125rem;
                        }
                        +.author--item::before {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
            >ul.article__author {
                li::after {
                    font-size: 1.125rem;
                }
            }
            >ul.article__assort {
                a,
                span {
                    font-size: 1.125rem;
                }
            }
            time {
                font-size: 1.125rem;
            }
        }
        .article__views {
            font-size: 1.125rem;
        }
        .preface>* {
            font-size: 1.375rem;
        }
        .article__content {
            p,
            ul,
            ol {
                font-size: 1.375rem;
            }
        }
        .article__extended {
            ul {
                font-size: 1.375rem;
            }
        }
        ul.article__keyword {
            li {
                a {
                    font-size: 1.125rem;
                }
            }
        }
    }
    &.article__level--2 {
        .article__content,
        .article__detail,
        .article__extended {
            h1,
            .h1 {
                font-size: 36px;
                @include breakpoint(1024px) {
                    font-size: 40px;
                }
            }
            h2,
            .h2 {
                font-size: 28px;
                @include breakpoint(1024px) {
                    font-size: 30px;
                }
            }
        }
        .article__detail {
            @include breakpoint(1024px) {
                padding-right: 120px;
            }
        }
        .breadcrumb {
            li {
                +li {
                    &::before {
                        font-size: 1.375rem;
                    }
                }
                a {
                    font-size: 1.375rem;
                }
            }
        }
        .source {
            font-size: 1.375rem;
        }
        .audio__player .audio__title {
            font-size: 1.625rem;
        }
        .article__detail {
            >ul {
                li {
                    >span {
                        font-size: 1.375rem;
                    }
                    >.author--item {
                        a,
                        span {
                            font-size: 1.375rem;
                        }
                        +.author--item::before {
                            font-size: 1.375rem;
                        }
                    }
                }
            }
            >ul.article__author {
                li::after {
                    font-size: 1.375rem;
                }
            }
            >ul.article__assort {
                a,
                span {
                    font-size: 1.375rem;
                }
            }
            time {
                font-size: 1.375rem;
            }
        }
        .article__views {
            font-size: 1.375rem;
        }
        .preface>* {
            font-size: 1.625rem;
        }
        .article__content {
            p,
            ul,
            ol {
                font-size: 1.625rem;
            }
        }
        .article__extended {
            ul {
                font-size: 1.625rem;
            }
        }
        ul.article__keyword {
            li {
                a {
                    font-size: 1.375rem;
                }
            }
        }
    }
}

.article__recommend,
.article__promotion {
    border-top: 1px solid $black;
}

.article__page {
    @import "article/_card";
    @import "article/_list";
    footer {
        padding-bottom: 70px;
        @include breakpoint(1024px) {
            padding-bottom: 90px;
        }
    }
}

@import "article/_newsletter";