body.message__open {
    overflow: hidden;
}

.message {
    p {
        font-size: 1rem;
        line-height: 1.5;
        +p {
            margin-top: 1em;
        }
    }
    &__btn {
        font-size: 0;
    }
    &--center {
        position: fixed;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
    }
    &--dialogs {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 12;
        .message {
            &__wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: calc(100% - 40px);
            }
            &__container {
                position: relative;
                max-width: 530px;
                padding: 60px 30px 30px;
                background-color: $white;
                @include breakpoint(768px) {
                    padding: 50px 60px 30px;
                }
            }
            &__close {
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 10px;
                font-size: 1.5em;
                cursor: pointer;
            }
            &__txt {
                padding-bottom: 30px;
                .h3 {
                    line-height: 1.5;
                }
                h2 {
                    padding-right: 50px;
                    margin-top: 0;
                    margin-bottom: 24px;
                }
            }
            &__btn {
                text-align: center;
            }
        }
    }
}

.black.dialogs {
    cursor: pointer;
}