body.slide__open {
    overflow: hidden;
}

nav {
    a {
        display: block;
    }
    &.menubar {
        &--left {
            position: fixed;
            top: 0;
            left: -300px;
            width: 300px;
            max-height: 100%;
            font-size: 1rem;
            border: 1px solid $gray-200;
            background-color: $white;
            overflow: scroll;
            @include transition(all 0.3s);
            z-index: 12;
            @include breakpoint(1024px) {
                overflow: hidden scroll;
            }
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    line-height: 1;
                    &.subtitle {
                        padding: 9px 12px;
                        font-size: 14px;
                        font-weight: 500;
                        background-color: $gray;
                    }
                    .li__group {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        a {
                            color: $black;
                        }
                        &:hover {
                            a,
                            i {
                                color: $primary;
                            }
                        }
                        a {
                            &.sns {
                                &-facebook {
                                    &:hover {
                                        >i,
                                        >span {
                                            color: $facebook;
                                        }
                                    }
                                }
                                &-line {
                                    &:hover {
                                        >i,
                                        >span {
                                            color: $line;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.now {
                        background-color: $primary;
                        >.li__group {
                            >a,
                            >i {
                                color: $white;
                            }
                        }
                    }
                }
            }
            >ul {
                +ul {
                    border-top: 1px solid $gray-200;
                }
                >li {
                    .li__group {
                        position: relative;
                        >a {
                            display: flex;
                            width: 100%;
                            padding: 17px 25px;
                            align-items: center;
                            &.sns {
                                i+span {
                                    margin-left: 5px;
                                }
                            }
                        }
                        >i.more {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 17px 25px;
                            font-weight: bold;
                            cursor: pointer;
                            @include transition(all 0.3s);
                            &.active {
                                @include rotate(180deg);
                            }
                        }
                    }
                    >ul {
                        display: none;
                        background-color: $gray-100;
                        >li {
                            .li__group {
                                >a {
                                    padding: 17px 50px;
                                }
                            }
                        }
                    }
                }
            }
            &.opened {
                left: 0;
            }
        }
        &--sub {
            position: relative;
            font-size: 14px;
            z-index: 10;
            @include breakpoint(1024px) {
                background-color: $gray-400;
                @include transition(background-color, 0.3s);
                &:hover {
                    background-color: $gray-300;
                }
            }
            @include breakpoint(max-width 1023px) {
                position: absolute;
                top: 50%;
                right: 10px;
                @include translateY(-50%);
            }
            >.container {
                justify-content: flex-end;
                ul {
                    @extend %list-reset;
                    position: relative;
                }
                >ul {
                    justify-content: flex-end;
                    &:first-child {
                        @include breakpoint(max-width 1023px) {
                            display: none;
                        }
                    }
                    >li {
                        margin-left: 16px;
                        >a {
                            display: flex;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            color: $black;
                            line-height: 1rem;
                            align-items: center;
                            @include breakpoint(1024px) {
                                color: $white;
                            }
                            i {
                                margin-left: 7px;
                                height: 0.875em;
                                font-weight: bold;
                                @include transition(transform 0.3s);
                                &.deg {
                                    @include rotate(180deg);
                                }
                            }
                            &:hover {
                                color: $black;
                            }
                        }
                    }
                }
            }
            ul.menubar__user {
                margin-left: 16px;
                &::before {
                    @extend %before-after;
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    background-color: $white;
                    @include breakpoint(1024px) {
                        width: 1px;
                        height: 1rem;
                    }
                }
                >li {
                    position: relative;
                    .menubar__user__slide {
                        display: none;
                        position: absolute;
                        left: -10px;
                        min-width: calc(100% + 20px);
                        width: 100%;
                        ul {
                            background-color: $white;
                            border: 1px solid $gray-200;
                            li {
                                a {
                                    padding: 15px 20px;
                                    color: $black;
                                    &:hover {
                                        color: $primary;
                                    }
                                }
                                &.hr {
                                    height: 1px;
                                    background-color: $gray-200;
                                }
                            }
                        }
                    }
                }
            }
        }
        &--sub2 {
            position: absolute;
            top: 50%;
            right: 0;
            // font-size: 14px;
            @include translateY(-50%);
            z-index: 10;
            @include breakpoint(1024px) {
                right: 10px;
            }
            >.container {
                width: auto;
                align-items: center;
                justify-content: flex-end;
            }
            ul {
                @extend %list-reset;
            }
            span {
                font-size: 1rem;
                line-height: 1.125;
            }
            a.logout {
                margin-left: 16px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: $text;
                font-size: 1rem;
                line-height: 1rem;
                &:hover {
                    color: $primary;
                }
                @include breakpoint(max-width 1023px) {
                    display: none;
                }
            }
            .menubar__user {
                position: relative;
                margin-left: 16px;
                .menubar__user--signin,
                .menubar__user--login {
                    color: $text;
                    line-height: 1rem;
                    .desktop {
                        display: none;
                        @include breakpoint(1024px) {
                            display: flex;
                            align-items: center;
                        }
                        i.icon {
                            display: block;
                            margin-left: 7px;
                            height: 0.875em;
                            font-weight: bold;
                            @include transition(transform 0.3s);
                            &.active {
                                @include rotate(180deg);
                            }
                        }
                        // 未登入
                        >a {
                            padding: 10px 0;
                            color: $text;
                            &:hover {
                                color: $primary;
                            }
                            +a {
                                margin-left: 25px;
                            }
                        }
                    }
                    .mobile {
                        font-size: 1.5em;
                        @include breakpoint(1024px) {
                            display: none;
                        }
                    }
                }
                .menubar__user--login {
                    cursor: pointer;
                    &.menubar__user--text {
                        cursor: auto;
                    }
                }
            }
        }
        &--belt {
            ul {
                @extend %list-reset;
                display: none;
                li {
                    position: relative;
                    height: 54px;
                    text-align: center;
                    a {
                        display: block;
                        padding: 18px 10px;
                        line-height: 1rem;
                        @include transition(all 0.15s);
                    }
                }
            }
            >ul {
                display: flex;
                >li {
                    min-width: 120px;
                    >a {
                        color: $black;
                    }
                    &:hover,
                    &.active {
                        >a {
                            color: $primary;
                        }
                        >ul {
                            display: block;
                        }
                    }
                    >ul {
                        position: absolute;
                        top: 100%;
                        left: -15px;
                        width: calc(100% + 30px);
                        background-color: $white;
                        z-index: 9;
                        >li {
                            a {
                                color: $black;
                                border: solid $gray-200;
                                &:hover,
                                &.active {
                                    color: $white;
                                    background-color: $primary;
                                    border-color: $primary;
                                }
                            }
                            >a {
                                border-width: 0 1px;
                            }
                            &:first-child {
                                >a {
                                    border-width: 1px 1px 0;
                                }
                            }
                            &:last-child {
                                >a {
                                    border-width: 0 1px 1px;
                                }
                            }
                            >ul {
                                position: absolute;
                                top: 0;
                                left: calc(100% - 1px);
                                width: 100%;
                                background-color: $white;
                                >li {
                                    >a {
                                        border-width: 0 1px;
                                    }
                                    &:first-child {
                                        >a {
                                            border-width: 1px 1px 0;
                                        }
                                    }
                                    &:last-child {
                                        >a {
                                            border-width: 0 1px 1px;
                                        }
                                    }
                                }
                            }
                            &:hover,
                            &.active {
                                >ul {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            &--third {
                ul {
                    li {
                        text-align: left;
                        a {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
                >ul>li>ul {
                    left: 0;
                }
            }
        }
    }
}

.menubar__user--member {
    position: absolute;
    width: 150px;
    @include breakpoint(1024px) {
        &.menubar__user--login {
            width: auto;
        }
        top: 41px;
        right: 0;
    }
    @include breakpoint(max-width 1023px) {
        top: 42px;
        right: -20px;
        opacity: 1 !important;
    }
    >ul {
        &.desktop {
            @include breakpoint(max-width 1023px) {
                display: none;
            }
        }
        &.mobile {
            @include breakpoint(1024px) {
                display: none;
            }
        }
    }
}

.menubar__user--member,
aside.menubar--left {
    font-size: 1rem;
    border: solid $gray-200;
    background-color: $white;
    @include breakpoint(1024px) {
        border-width: 1px;
    }
    @include breakpoint(max-width 1023px) {
        border-width: 1px 0;
        width: 100vw;
        overflow: hidden scroll;
    }
    ul {
        position: relative;
        @extend %list-reset;
        li {
            line-height: 1;
            &.hr {
                height: 1px;
                background-color: $gray-200;
            }
            .li__group {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                a {
                    color: $black;
                }
                &:hover {
                    a,
                    i {
                        color: $primary;
                    }
                }
                a {
                    &.sns {
                        &-facebook {
                            &:hover {
                                >i,
                                >span {
                                    color: $facebook;
                                }
                            }
                        }
                        &-line {
                            &:hover {
                                >i,
                                >span {
                                    color: $line;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    >ul {
        // + ul {
        // 	border-top: 1px solid $gray-200;
        // }
        >li {
            .li__group {
                position: relative;
                &--id {
                    padding: 15px 25px;
                    line-height: 1.25;
                    span {
                        display: block;
                    }
                }
                >a {
                    width: 100%;
                    padding: 15px 25px;
                    line-height: 1.25;
                    &.sns {
                        i+span {
                            margin-left: 5px;
                        }
                    }
                }
                >i.more {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 15px 25px;
                    font-weight: bold;
                    cursor: pointer;
                    @include transition(transform 0.3s);
                    &.active {
                        @include rotate(180deg);
                    }
                }
            }
            &.now {
                >.li__group {
                    background-color: $primary;
                    >a,
                    >i {
                        color: $white;
                    }
                }
            }
            >ul {
                display: none;
                >li {
                    .li__group {
                        >a {
                            padding: 15px 20px 15px 50px;
                        }
                    }
                    &.now a {
                        color: $primary;
                    }
                }
            }
        }
    }
    &.opened {
        left: 0;
    }
}

.opacity,
.black {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    &.opened {
        width: 100%;
        height: 100%;
    }
}

.opacity {
    z-index: 3;
}

.black {
    background-color: rgba($black, 0.4);
    @include opacity(0);
    @include transition(opacity 0.3s);
    z-index: 9;
    &.opened {
        @include opacity(1);
    }
}

.article-page {
    nav {
        &.menubar {
            &--sub {
                position: absolute;
                top: 50%;
                background-color: transparent;
                @include translateY(-50%);
                @include breakpoint(max-width 1023px) {
                    right: 0;
                }
                >.container {
                    width: auto;
                    >ul {
                        >li {
                            >a {
                                color: $black;
                            }
                        }
                    }
                }
                ul.menubar__user {
                    &::before {
                        background-color: $black;
                    }
                }
            }
        }
    }
}