// $baseLineHeight: 10px;
// @function padding($count: 1) {
//  @return $baseLineHeight * $count;
// }
// 標題
$h-color: $text,
$text,
$text,
$primary,
$secondary;
$h-size: 32px,
22px,
18px,
1rem,
14px;
$h-m-size: 28px,
20px;
$h-lh: 1.5,
1.5,
2,
1.2,
1;
@for $i from 1 through 5 {
    h#{$i} {
        font-weight: 600;
        @include breakpoint(1024px) {
            font-weight: 500;
        }
    }
    h#{$i},
    .h#{$i} {
        margin-top: 1em;
        margin-bottom: 1em;
        .heading__icon {
            display: inline-block;
            margin-right: 10px;
            font-size: 0.9em;
            vertical-align: middle;
            &--correct {
                color: $surface;
            }
            &--notice {
                color: $primary;
            }
            &--error {
                color: $primary;
            }
        }
    }
}

@for $i from 1 through 2 {
    h#{$i},
    .h#{$i} {
        font-size: nth($h-m-size, $i);
        @include breakpoint(1024px) {
            font-size: nth($h-size, $i);
        }
    }
}

@for $i from 3 through 5 {
    h#{$i},
    .h#{$i} {
        color: nth($h-color, $i);
        font-size: nth($h-size, $i);
        line-height: nth($h-lh, $i);
        word-break: break-word;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}