@import "_basic";
@import "_general";
@import "_sheet";
@import "_space";
@import "_color";
@import "_typography";
@import "_font";
@import "_iconography";
// @import "_navigation";
// @import "_textfield";
@import "_button";
// @import "_tooltips";
@import "_tabs";
// @import "_list";
// @import "_selection";
@import "_message";
@import "_header";
// @import "_paginate";
@import "_footer";
@import "_container";
section {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 1.125rem;
    background-color: $white;
    border-top: 1px solid $gray-100;
    @include breakpoint(max-width 1023px) {
        display: flex;
        align-items: center;
    }
    &.opening {
        position: relative;
        padding-top: 125px;
        min-height: 100%;
        line-height: 1.78;
        border-top: 0;
        @include breakpoint(1024px) {
            padding-top: 60px;
        }
        &::before {
            @include beforeafter('', block);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $black;
            @include opacity(0.6);
            z-index: 1;
        }
        >img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .container {
            position: relative;
            width: 100%;
            color: $white;
            z-index: 2;
            @include breakpoint(1024px) {
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
            }
        }
        h1 {
            font-size: 32px;
            line-height: 1.5;
            @include breakpoint(1024px) {
                font-size: 44px;
            }
            span {
                display: inline-block;
            }
        }
        .h1 {
            @include breakpoint(max-width 1023px) {
                font-size: 22px;
            }
        }
        p {
            @include breakpoint(1024px) {
                font-size: 1.125rem;
                span {
                    display: block;
                }
            }
        }
    }
    .title {
        margin-bottom: 30px;
        font-weight: 400;
        .h3 {
            color: $secondary;
            line-height: 1;
        }
    }
    h6 {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.78;
    }
    p {
        font-size: 1.125rem;
    }
    .ellipsis__area {
        p {
            line-height: 1.78;
        }
        &.ellipsis__area--show {
            position: relative;
            &::after {
                position: absolute;
                bottom: 0;
                @include beforeafter('', block);
                width: 100%;
                height: 50%;
                background: rgb(255, 255, 255);
                background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
        &.ellipsis__area--hide {
            display: none;
        }
    }
    .lastest__group {
        @include breakpoint(max-width 1023px) {
            margin-left: -20px;
            margin-right: -20px;
        }
        li {
            font-size: 0;
            &:nth-child(odd) {
                background-color: $white;
            }
            &:nth-child(even) {
                background-color: $gray-100;
            }
            a {
                display: block;
                padding: 10px 20px;
                color: $text;
                &:hover {
                    color: $primary;
                }
                @include breakpoint(1024px) {
                    padding: 10px 30px;
                }
            }
            span {
                display: block;
                vertical-align: middle;
                font-size: 1.125rem;
                @include breakpoint(1024px) {
                    display: inline-block;
                }
                &:first-child {
                    width: 6em;
                    @include breakpoint(max-width 1023px) {
                        margin-bottom: 5px;
                    }
                }
                &:last-child {
                    @include ellipsis;
                    @include breakpoint(1024px) {
                        width: calc(100% - 6em);
                    }
                }
                &.loading {
                    display: block;
                    width: 100%;
                    margin-bottom: 0;
                }
            }
        }
    }
    .slider {
        .slider__navi {
            position: absolute;
            top: 50%;
            @include translateY(-50%);
            .icon-btn {
                font-size: 2rem;
            }
            &--prev {
                left: -100px;
            }
            &--next {
                right: -100px;
            }
        }
        &.slider--chart {
            .slick-slide {
                position: relative;
                .mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    overflow: hidden;
                    .revenue__chart {
                        width: auto;
                        height: 100%;
                    }
                }
            }
            svg {
                display: block;
            }
            .card__chart {
                position: relative;
                background-color: $gray;
            }
            .fm__chart {
                .xaxis__text {
                    font-size: 1rem;
                }
                .yaxis__text {
                    font-size: 1.125rem;
                }
                .yaxis__text--cw {
                    fill: $primary;
                }
                .source {
                    font-size: 0.875rem;
                }
                .yaxis__line,
                .yaxis__line--baseline,
                .chart__line,
                .chart__line--cw {
                    fill: none;
                }
                .yaxis__line {
                    stroke: $gray-100;
                    stroke-dasharray: 4;
                }
                .yaxis__line,
                .yaxis__line--baseline {
                    stroke-linecap: square;
                }
                .yaxis__line--baseline {
                    stroke: $black;
                }
                .chart__line {
                    stroke: $gray-200;
                    stroke-width: 2px;
                }
                .chart__line--cw {
                    stroke: $primary;
                    stroke-dashoffset: 800;
                    stroke-dasharray: 800;
                }
            }
            .revenue__chart {
                .yaxis__line--baseline,
                .yaxis__line,
                .chart__line {
                    fill: none;
                }
                .yaxis__line--baseline {
                    stroke: $black;
                }
                .yaxis__line--baseline,
                .yaxis__line,
                .chart__line {
                    stroke-linecap: square;
                }
                .yaxis__line {
                    stroke: $gray-100;
                    stroke-dasharray: 4;
                }
                .chart__line {
                    stroke: $primary;
                    stroke-width: 2px;
                }
                .chart__line--dashed {
                    stroke-dasharray: 7;
                }
                .mask {
                    width: 0;
                    overflow: hidden;
                }
            }
            .credibility__chart {
                .bar__bg {
                    fill: $gray-100;
                }
                .bar__color {
                    fill: $gray-200;
                    width: 0;
                }
                .bar__media {
                    font-size: 1.125rem;
                }
                .bar__media--cw,
                .bar__color--cw {
                    fill: $primary;
                }
                .bar__val {
                    font-size: 0.875rem;
                    @include opacity(0);
                }
                .bar__val--cw {
                    fill: $white;
                }
            }
            .view__chart {
                .view {
                    fill: $gray-200;
                }
                .view--cw {
                    fill: $gray-200;
                }
            }
            .school__chart {
                .country__text {
                    font-size: 1rem;
                }
                .country {
                    stroke: $white;
                    stroke-width: 2px;
                    fill-rule: evenodd;
                }
                .country__text.country__text--cw {
                    fill: $primary;
                    @include opacity(0);
                }
                .country.country--south {
                    fill: #f4ae6a;
                }
                .country.country--central {
                    fill: #37a1d8;
                }
                .country.country--north {
                    fill: #85c698;
                }
                .country.country--east {
                    fill: #ec796a;
                }
                .line--gray {
                    fill: none;
                    stroke: $secondary;
                    stroke-linecap: square;
                }
            }
            .slick-active {
                .fm__chart {
                    .chart__line--cw {
                        @include animation(fm__chart--cw 1s 500ms 1 linear alternate forwards);
                    }
                }
                .mask {
                    @include animation(revenue__chart-mask 1s 500ms 1 linear alternate forwards);
                }
                .credibility__chart {
                    .bar__color {
                        @include animation(500ms 500ms 1 linear alternate forwards);
                    }
                    .bar__color--125 {
                        @include animation-name(bar__color--125);
                    }
                    .bar__color--122 {
                        @include animation-name(bar__color--122);
                    }
                    .bar__color--119 {
                        @include animation-name(bar__color--119);
                    }
                    .bar__color--116 {
                        @include animation-name(bar__color--116);
                    }
                    .bar__color--111 {
                        @include animation-name(bar__color--111);
                    }
                    .bar__color--110 {
                        @include animation-name(bar__color--110);
                    }
                    .bar__color--108 {
                        @include animation-name(bar__color--108);
                    }
                    .bar__color--107 {
                        @include animation-name(bar__color--107);
                    }
                    .bar__color--105 {
                        @include animation-name(bar__color--105);
                    }
                    .bar__color--102 {
                        @include animation-name(bar__color--102);
                    }
                    .bar__color--99 {
                        @include animation-name(bar__color--99);
                    }
                    .bar__color--94 {
                        @include animation-name(bar__color--94);
                    }
                    .bar__val {
                        @include animation(opacity 200ms 1000ms 1 linear alternate forwards);
                    }
                }
                .view__chart {
                    .view--g1 {
                        @include animation(view__chart 500ms 500ms 1 linear alternate forwards);
                    }
                    .view--g2 {
                        @include animation(view__chart 500ms 700ms 1 linear alternate forwards);
                    }
                    .view--g3 {
                        @include animation(view__chart 500ms 900ms 1 linear alternate forwards);
                    }
                    .view--g4 {
                        @include animation(view__chart 500ms 1100ms 1 linear alternate forwards);
                    }
                }
                .school__chart {
                    .country__text.country__text--cw {
                        @include animation(opacity 500ms 500ms 1 linear alternate forwards);
                    }
                }
            }
        }
        &.slider--1col {
            margin-left: -20px;
            margin-right: -20px;
        }
        &.slider--3col {
            margin-left: -20px;
            margin-right: -20px;
            .card__item {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &.slider--4col {
            margin-left: -12px;
            margin-right: -12px;
            .card__item {
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }
}

@include keyframes(fm__chart--cw) {
    0% {
        stroke-dashoffset: 800;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@include keyframes(revenue__chart-mask) {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@include keyframes(view__chart) {
    0% {
        fill: $gray-200;
    }
    100% {
        fill: $primary;
    }
}

@include keyframes(opacity) {
    0% {
        @include opacity(0);
    }
    100% {
        @include opacity(1);
    }
}

@include keyframes(bar__color--125) {
    0% {
        width: 0;
    }
    100% {
        width: 125px;
    }
}

@include keyframes(bar__color--122) {
    0% {
        width: 0;
    }
    100% {
        width: 122px;
    }
}

@include keyframes(bar__color--119) {
    0% {
        width: 0;
    }
    100% {
        width: 119px;
    }
}

@include keyframes(bar__color--116) {
    0% {
        width: 0;
    }
    100% {
        width: 116px;
    }
}

@include keyframes(bar__color--111) {
    0% {
        width: 0;
    }
    100% {
        width: 111px;
    }
}

@include keyframes(bar__color--110) {
    0% {
        width: 0;
    }
    100% {
        width: 110px;
    }
}

@include keyframes(bar__color--108) {
    0% {
        width: 0;
    }
    100% {
        width: 108px;
    }
}

@include keyframes(bar__color--107) {
    0% {
        width: 0;
    }
    100% {
        width: 107px;
    }
}

@include keyframes(bar__color--105) {
    0% {
        width: 0;
    }
    100% {
        width: 105px;
    }
}

@include keyframes(bar__color--102) {
    0% {
        width: 0;
    }
    100% {
        width: 102px;
    }
}

@include keyframes(bar__color--99) {
    0% {
        width: 0;
    }
    100% {
        width: 99px;
    }
}

@include keyframes(bar__color--94) {
    0% {
        width: 0;
    }
    100% {
        width: 94px;
    }
}

.embed__responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    &::before {
        @include beforeafter('', block);
    }
    &--16by9::before {
        padding-top: 56.25%;
    }
    iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.list__area {
    .list__item {
        font-size: 0;
        +.list__item {
            margin-top: 30px;
        }
        >div {
            display: inline-block;
            vertical-align: middle;
        }
        .list__icon {
            position: relative;
            width: 50px;
            height: 50px;
            border: 1px solid $gray-100;
            @include border-radius(50%);
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 30px;
                max-height: 30px;
                width: auto;
                height: auto;
                @include translate(-50%, -50%);
            }
        }
        .list__text {
            width: calc(100% - 50px);
            padding-left: 20px;
        }
    }
}

.card__item {
    .card__link {
        >span {
            display: block;
            color: $text;
            @include transition(color 0.3s);
        }
        .card__title {
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 1.125rem;
            font-weight: 500;
            @include lineclamp(2);
        }
        .card__essay {
            min-height: 3em;
            font-size: 1rem;
            @include lineclamp(3);
        }
    }
    a.card__link:hover .card__title {
        color: $primary;
    }
    .card__img {
        position: relative;
        display: block;
        width: 100%;
        img {
            display: block;
            width: 100%;
        }
    }
    .btn {
        margin-top: 20px;
    }
}

.publishing__group {
    font-size: 0;
    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 30px;
        img {
            height: 40px;
        }
    }
}

.webaccess {
    font-size: 0;
    .webaccess__item {
        @include breakpoint(768px) {
            display: inline-block;
            vertical-align: middle;
        }
        &--img {
            @include breakpoint(max-width 767px) {
                max-width: 300px;
                margin: 0 auto;
            }
            @include breakpoint(768px) {
                width: calc(100% - 490px);
            }
        }
        &--txt {
            @include breakpoint(max-width 767px) {
                margin-top: 10px;
                .btn--contained {
                    display: table;
                    margin: auto;
                }
            }
            @include breakpoint(768px) {
                width: 490px;
                padding-left: 40px;
            }
        }
    }
}

.sales__group {
    font-size: 0;
    .sales__item {
        @include breakpoint(1024px) {
            display: inline-block;
            vertical-align: text-top;
        }
        .sales__img img {
            margin: auto;
        }
        @include breakpoint(max-width 1023px) {
            +.sales__item {
                margin-top: 30px;
            }
        }
    }
    &.sales__group--2col {
        .sales__item {
            @include breakpoint(1024px) {
                width: 260px;
                +.sales__item {
                    margin-left: 80px;
                }
            }
        }
    }
    &.sales__group--3col {
        .sales__item {
            @include breakpoint(1024px) {
                width: calc((100% - 60px) / 3);
                +.sales__item {
                    margin-left: 30px;
                }
            }
        }
    }
    &.sales__group--4col {
        .sales__item {
            @include breakpoint(1024px) {
                width: 260px;
                margin-left: 80px;
                &:nth-child(2n+1) {
                    margin-left: 0;
                }
                &:nth-child(n+3) {
                    margin-top: 30px;
                }
            }
        }
    }
}

.img--left {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    @include breakpoint(660px) {
        float: left;
        margin-right: 30px;
        margin-bottom: 10px;
        width: auto;
        height: 195px;
    }
}

.intern__group {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    .intern__item {
        width: 100%;
        padding: 20px 17px;
        font-size: 0;
        border: 1px solid $gray-100;
        @include breakpoint(768px) {
            width: calc((100% - 60px) / 3);
        }
        +.intern__item {
            @include breakpoint(768px) {
                margin-left: 30px;
            }
            @include breakpoint(max-width 767px) {
                margin-top: 20px;
            }
        }
        h6,
        p {
            font-size: 1rem;
        }
        >div {
            display: inline-block;
            vertical-align: middle;
        }
        .intern__img {
            img {
                width: 55px;
            }
        }
        .intern__title {
            width: calc(100% - 55px);
            padding-left: 10px;
        }
        .intern__text {
            width: 100%;
            margin-top: 15px;
            font-size: 1rem;
        }
    }
}

.cwg__list {
    .list__item {
        margin-top: 25px;
        font-size: 0;
        >div {
            display: inline-block;
            vertical-align: middle;
        }
        .list__logo {
            img {
                width: 120px;
            }
        }
        .list__text {
            @include breakpoint(768px) {
                width: calc(100% - 120px);
                padding-left: 20px;
            }
            @include breakpoint(max-width 767px) {
                width: 100%;
                margin-top: 10px;
            }
            h6 {
                line-height: 1.2;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}